<header>
    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('serie_index') }}">Séries</a></li>
            <li><a href="{{ path('serie_new') }}">Ajouter</a></li>
        </ul>
    </nav>
</header>