{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes séries</h1>

    <p>
        Bonjour
        {% if app.user %}
            {{ app.user.fullName }}

        {% else %}
            invité

        {% endif %}
    </p>
{% endblock %}