{% extends 'base.html.twig' %}

{% block title %}Liste des séries - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>
    <section class="series">
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_show', {'id': serie.id}) }}">
                    <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
